/* Styles pour la section Bulles */
#Bulles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Styles pour les photos */
#Bulles .photo {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 460px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

#Bulles .photo>picture>img,
#Bulles .photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Bulles figcaption {
    position: absolute;
    bottom: 10px;
    left: 160px;
    text-align: center;
    width: 30%;
    padding: initial;
}

#Bulles figure:hover figcaption {
    display: none;
}

#Bulles figure:hover figcaption {
    display: none;
}

#Charlotte figcaption,
#Chanoe figcaption,
#Larchotte figcaption {
    position: absolute;
    bottom: 10px;
    left: 160px;
    text-align: center;
    width: 30%;
    padding: initial;
}


.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    display: none;
}

.not-authorized-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: .5s ease;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 0;
}

.not-authorized-overlay h2 {
    margin-top: -80px;
    margin-bottom: 10px;

}

.text {
    color: var(--red-color);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#Charlotte .text {
    color: var(--green-color);
}

.containerArts {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 35%;
    margin-top: 70%;
    margin-bottom: 30px;
}

.containerArts a {
    position: relative;
    background-color: #fff;
    width: 150px;
    height: 50px;
    color: var(--red-color);
}

.containerArts a::before,
.containerArts a::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--red-color);
    transition: 0.5s;
}

.containerArts a:nth-child(1)::before,
.containerArts a:nth-child(1)::after {
    background: linear-gradient(45deg, #1D7461, #741D34, #741D34, #1D7461);
}

.containerArts a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #6d6567;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red-color);
    border: 2px solid #000;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}

.containerArts .span-viv {
    color: #0b3a2f;
}

.containerArts a:hover::before {
    inset: -4px;
}

.containerArts a:hover::after {
    inset: -3px;
    filter: blur(10px);
}

.containerArts a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}



.mosaique {
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px
}


.mosaique div {
    overflow: hidden;
    width: 100%;
    height: auto;

}

.mosaique img {
    display: block;
    width: 250px;
    height: 260px;
    transition: transform 1s ease-in-out;
}

.mosaique div:hover img {
    transform: scale(1.2);

}

/*ARTS*/

/***spectacles***/

#Arts {
    display: flex;
    flex-direction: column;
    margin-top: 20em;
    align-content: center;
    align-items: center;
    background-color: var(--background-color);
    min-height: 1800px;
}

.spectacles {
    margin-top: 550px;
    min-height: 450px;
    width: 80%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
}

#Allain,
#Argent {
    box-shadow: 10px 10px 10px var(--green-color);
}

#Viventre {
    box-shadow: 10px 10px 10px var(--red-color);
}

#Allain p,
#Viventre p,
#Argent p,
.musique p,
.ecriture p,
.presentation-bio p,
#Mediation p {
    line-height: 2;
}


.spectacles-h2,
.musique-h2,
.ecriture-h2 {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}

#Arts h1 {
    text-align: left;
    margin-bottom: 5px;
}

#Arts h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 3px;
}


#Arts p {
    font-size: 18px;
    margin-top: 15px;
}

.spectacles-h2 {
    margin-top: 200px;
    text-align: center;
}

.Elles {
    font-style: italic;
}

/***musique***/

.musique {
    margin-top: 400px
}

.musique p {
    margin: 0 40px 60px 40px
}


.container-links-ul ul {
    line-height: 3;
    margin-top: -40px;
}

.music-links,
li,
a:link,
a:hover,
a:visited {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.music-links li:nth-child(odd) a {
    color: var(--red-color);
}

.music-links li:nth-child(even) a {
    color: var(--green-color);
}

.music-links li:nth-child(odd) a:hover {
    color: var(--green-color);
}

.music-links li:nth-child(even) a:hover {
    color: var(--red-color);
}

.container-iframes {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    /* Ajout d'un peu de padding pour éviter que le contenu ne colle aux bords */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.grid-item {
    width: 100%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* Ratio 16:9 pour les vidéos */
    height: 0;
    overflow: hidden;
}

.video-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    background-color: red;
    border: 1px solid red;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}


.thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.iframe-argent {
    width: 80vw;
    max-width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/***ecriture***/

.ecriture {
    margin-top: 550px;
    margin-bottom: 2800px;
}

.ecriture-h2 {
    margin-bottom: 50px;
}

.ecrits-h3 {
    margin-top: 50px;
    margin-left: 45px;
}

.ecriture p {
    font-style: italic;
    margin-top: -25px;
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.ecritures-description {
    font-weight: bold;
    color: var(--green-color);
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.ecriture a {
    color: var(--red-color);
    display: block;
    margin-bottom: 25px;
}

.ecriture a:hover {
    color: var(--green-color);
}

.monBlog {
    font-weight: bold;
    font-size: 20px;
}

.aEcriture {
    margin-top: -30px;
}

.aBottom {
    margin-bottom: 15px;
}

/***media queries***/


@media only screen and (max-width: 480.99px) {

    #Bulles {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #Bulles .photo {
        width: 90%;
        max-width: 400px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .not-authorized-overlay h2 {
        font-size: 0.9em;
        margin-top: -50px;
        margin-bottom: 10px;

    }

    .not-authorized-overlay .text p {
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-size: .8em
    }

    .containerArts {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }

    .containerArts a {
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
    }

    .containerArts a span {
        font-size: 16px;
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 10px;
        left: 100px;
        width: calc(50% - 2rem);
    }

    .mosaique {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        width: 360px;
        height: 200px;
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* Ratio 16:9 */
        height: 0;
        overflow: hidden;
    }

    .video-wrapper img,
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .iframe-argent {
        width: 60vw;
        max-width: 325px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

}


/* Styles spécifiques pour les écrans entre 481px et 674px */


@media only screen and (min-width : 481px) and (max-width: 674.99px) {

    #Bulles {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #Bulles .photo {
        width: 90%;
        max-width: 400px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 10px;
        left: 100px;
        width: 50%;
    }


    .not-authorized-overlay h2 {
        margin-top: -80px;
        margin-bottom: 10px;
        font-size: inherit;
    }

    .not-authorized-overlay .text p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    .containerArts {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }

    .containerArts a {
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
    }

    .containerArts a span {
        font-size: 16px;
    }

    .mosaique {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .mosaique img {
        display: block;
        width: 250px;
        height: 260px;
    }

    .mosaique div:hover img {
        transform: scale(1.2);

    }

    /* .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        width: 360px;
        height: 200px;
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* Ratio 16:9 */
        height: 0;
        overflow: hidden;
    }

    .video-wrapper img,
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media only screen and (max-width:600px) and (orientation:portrait) {

    .mosaique {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        width: 360px;
        height: 200px;
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* Ratio 16:9 */
        height: 0;
        overflow: hidden;
    }

    .video-wrapper img,
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .iframe-argent {
        width: 60vw;
        max-width: 325px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }

    .not-authorized-overlay h2 {
        font-size: 0.9em;
        margin-top: -50px;
        margin-bottom: 10px;

    }

    .not-authorized-overlay .text p {
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-size: .8em
    }
}


/* Styles spécifiques pour les écrans entre 675px et 768px */
@media only screen and (min-width: 675px) and (max-width:768.99px) {

    #Bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #Bulles .photo {
        width: 100%;
        max-width: 320px;
        /* Légèrement réduit pour s'adapter à l'écart plus petit */
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

    #Larchotte {
        grid-column: 1 / -1;
        justify-self: center;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 20px;
        left: 75px;
        width: 50%;
    }


    .not-authorized-overlay {
        padding: 10px;
    }

    .not-authorized-overlay h2 {
        font-size: 0.9em;
        margin-top: -50px;
        margin-bottom: 10px;

    }

    .not-authorized-overlay .text p {
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    .containerArts a {
        width: 100px;
        height: 50px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .containerArts a span {
        font-size: 16px;
        padding: 5px 10px;
    }

    .mosaique {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


/* Styles spécifiques pour les écrans entre 769px et 991px */
@media only screen and (min-width: 769px) and (max-width: 991.99px) {

    #Bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #Bulles .photo {
        width: 100%;
        max-width: 375px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

    #Larchotte {
        grid-column: 1 / -1;
        justify-self: center;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 20px;
        left: 100px;
        width: 50%;
    }

    .not-authorized-overlay {
        padding: 10px;
    }

    .not-authorized-overlay h2 {
        font-size: 0.9em;
        margin-top: -50px;
        margin-bottom: 10px;
    }

    .not-authorized-overlay .text p {
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    .containerArts {
        left: 39%;

    }

    .containerArts a {
        width: 100px;
        height: 50px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .containerArts a span {
        font-size: 16px;
        padding: 5px 10px;
    }

    .mosaique img {
        width: 150px;
        height: 200px;
    }

    .mosaique div:hover img {
        transform: scale(1.2);
    }
}

/* Styles spécifiques pour les écrans entre 992px et 1190px */
@media only screen and (min-width: 992px) and (max-width: 1190.99px) {

    #Bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #Bulles .photo {
        width: 100%;
        max-width: 375px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

    #Larchotte {
        grid-column: 1 / -1;
        justify-self: center;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 20px;
        left: 100px;
        width: 50%;
    }

    .not-authorized-overlay {
        padding: 10px;
    }

    .not-authorized-overlay h2 {
        font-size: 0.9em;
        margin-top: -50px;
        margin-bottom: 10px;
    }

    .not-authorized-overlay .text p {
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    .containerArts {
        left: 39%;
    }

    .containerArts a {
        width: 100px;
        height: 50px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .containerArts a span {
        font-size: 16px;
        padding: 5px 10px;
    }

    .mosaique img {
        width: 200px;
        height: 210px;
    }

    .mosaique div:hover img {
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 1191px) and (max-width: 1499px) {

    #Bulles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #Bulles .photo {
        width: 100%;
        max-width: 475px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

    #Larchotte {
        grid-column: 1 / -1;
        justify-self: center;
    }

    #Bulles figcaption {
        position: absolute;
        bottom: 20px;
    }

    .not-authorized-overlay {
        padding: 10px;
    }

    .not-authorized-overlay h2 {
        font-size: 1.5rem;
        margin-top: -50px;
        margin-bottom: 10px;

    }

    .not-authorized-overlay .text p {
        font-size: 1.5rem;
        display: -webkit-box;
    }

    .containerArts a {
        position: relative;
        background-color: #fff;
        width: 150px;
        height: 50px;
        color: var(--red-color);
    }

    .containerArts a span {
        font-size: 16px;
        padding: 5px 10px;
    }


    .mosaique img {
        width: 250px;
        height: 260px;
    }

    .mosaique div:hover img {
        transform: scale(1.2);

    }

}

@media screen and (min-width: 1500px) {

    #Bulles {
        display: grid;
        grid-template-rows: repeat(1fr);
    }

    #Bulles .photo {

        max-width: 475px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

}