.Hero {
    max-width: 900px;
    width: 100%;
    margin: 200px auto 0;
    background-color: var(--background-color);
}

.Bio {
    position: relative;
    width: 100%;
    margin-top: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bio figure {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Bio img {
    margin: 10px auto 20px;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.Bio figcaption {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 20px;
    left: -210px;
    text-align: right;
}

.presentation {
    font-size: 2em;
    line-height: 1.4em;
    text-align: justify;
    color: #000;
    background-color: var(--background-color);
    font-weight: inherit;
    width: 100%;
}

.presentation-bio {
    background-color: var(--background-color);
    min-height: 100px;
    width: 100%;

}


img[alt] {
    font-style: italic;
    font-size: 15px;
    text-shadow: 2px 2px white;
    display: flex;
}

#contact-form {
    background-color: var(--background-color);
    padding: 50px;
    width: auto;
    margin-bottom: 20px;
}

.MessageEssentiel {
    max-width: 90vw;
    text-align: center;
    color: var(--messageEssentiel-color);
}

.essentiel {
    font-family: "Tangerine", cursive;
    font-size: 30px;
}

label {
    color: var(--label-color);
}

.button-form {
    background-color: var(--red-color);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: all 0.2s ease-in 0s;
    padding: 8px 20px;
    margin: 0 auto;
    display: inline-block;
}

.button-form:hover {
    background-color: var(--green-color);
    color: #fff;
}

#contact-form .thank-you {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: var(--thank-you-color);
}

.comments {
    font-style: italic;
    font-weight: bold;
    color: var(--red-color);
    height: 4px;
    text-transform: none;
    position: relative;
}

.Logo {
    display: inline-flex;
}

.form-h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0.5em 0;
}

/* Ajout pour éviter le layout shift sur le titre principal */
.main-title {
    min-height: 1.5em;
    display: block;
}

/*media queries*/

@media screen and (max-width: 675px) {
    .Bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Bio img {
        min-width: 50%;
        max-width: 100%;
        height: auto;
        width: auto;
        margin: 10px auto 20px;
    }

    .Bio figcaption {

        left: -60px;
    }

    .presentation {
        margin-top: 10px;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    .presentation-bio {
        width: 100%;
    }

    .presentation-bio p,
    .presentation-bio h3 {
        text-align: center;
        width: 100%;
        max-width: 100%;

    }


    label[for=subject] {
        margin-top: 35px;
    }

    input[type=submit] {
        display: flex;
    }

    .MessageEssentiel {
        max-width: 70vw;
    }

    .button-form {
        margin-top: 15px;
    }

    .comments {
        font-size: 12px;
    }
}


@media only screen and (min-width: 675px) and (max-width:768px) {

    .presentation,
    .presentation-bio {
        max-width: 97vw;
        margin-left: 3px;
    }


    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {
        max-width: 100%;
    }

    .Bio figcaption {

        left: -120px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    .presentation,
    .presentation-bio {
        max-width: 97vw;
        margin-left: 3px;
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1190px) {
    .form-9 {
        margin: auto;
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {
        max-width: 100%;
    }

    input[type=submit] {
        display: flex;
        margin: auto;
    }
}

/* Amélioration anti-layout shift navigation sans min-height cassant */
nav a {
    display: inline-block;
    min-width: 2.5em;
    padding: 0.5em 1em;
    box-sizing: border-box;

}

nav a:focus,
nav a:hover {
    color: #fff;
    outline-offset: 2px;
    border-radius: 4px;
}