/* HEADER */
.main-title {
    padding: 15px 0px 0px 0px;
    font-weight: normal;
    font-family: Tangerine, "cursive", "Times new roman", sans-serif;
    text-align: center;
    font-size: 6rem;
    display: block;
    color: initial;
}

/* MAIN MENU */
#menuderoulant {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    margin-top: 35px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#menuderoulant li {
    position: relative;
    width: 12.375em;
    margin-right: 10px;
    border: 1px solid black;
    background-color: var(--green-color);
    text-align: center;
    border-radius: 2.81em;
    box-shadow: 5px 5px black;
}

#menuderoulant .ColoRed {
    background-color: var(--red-color);
    width: 12.395em;
    border-radius: 2.81em;
}

#menuderoulant .sousmenu .ColoRed2 {
    background-color: var(--red-color);
    padding: 16px 15px;
    width: 12.375em;
}

#menuderoulant .sousmenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    float: none;
    position: absolute;
    text-transform: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 12.375em;
    /* Rétablir la largeur du sous-menu */
}

#menuderoulant li:hover>.sousmenu {
    display: block;
}

#menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 12.375em;
    /* Rétablir la largeur du sous-menu */
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 0;
    position: relative;
    left: 0;
    right: auto;
    box-shadow: 0px 0px;
}

#menuderoulant li a:link,
#menuderoulant li a:visited {
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    padding: 4px 8px;
}

#menuderoulant li a:hover {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.28em;
    color: white;
}

#menuderoulant .ColoRed:hover {
    background-color: var(--green-color);
}

#menuderoulant .sousmenu li a:link,
#menuderoulant .sousmenu li a:visited {
    color: #fff;
    margin: 0;
    padding: 5px 0;
    border: 0;
}

#menuderoulant .sousmenu li a:hover {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.29em;
}

#menuderoulant .ColoGreen {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.28em;
    text-decoration: none;
    color: white;
}

#menuderoulant .sousmenu .ColoGreen:hover {
    background-color: var(--green-color);
    width: 12.28em;
}

.green {
    color: var(--green-color);
    font-style: normal;
    text-transform: uppercase;
}

.red {
    color: var(--red-color);
    font-style: normal;
}

/* Style personnalisé pour l'accordéon Bootstrap */
.accordion-item,
.accordion-header,
.accordion-button,
.accordion-body {
    background-color: var(--background-color) !important;
    color: #000 !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--background-color) !important;
}

.accordion-button {
    font-size: 1.2em;
    font-family: inherit;
    font-weight: bold;
    border-radius: 2.81em !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-item {
    border: none !important;
}

/* BURGER MENU */
.parent-container {
    display: none !important;
}

.burger {
    display: none !important;
    visibility: hidden !important;
}

.burger-line {
    display: none !important;
    visibility: hidden !important;
}

/*** media queries ***/

@media screen and (max-width: 575px) {

    #menuderoulant,
    #menuderoulant li,
    #menuderoulant .ColoRed,
    #menuderoulant .sousmenu .ColoRed2,
    #menuderoulant li a:hover,
    #menuderoulant .sousmenu li,
    #menuderoulant .sousmenu li a:hover,
    #menuderoulant li a:link,
    #menuderoulant li a:visited {
        width: 100%;
        font-size: 12px;
    }

    #menuderoulant .sousmenu {
        width: 12.375em;
        /* Rétablir la largeur du sous-menu */
        z-index: 1;
    }

    #menuderoulant {
        width: 550px;
    }

    #menuderoulant li,
    #menuderoulant li a:hover,
    #menuderoulant li .ColoRed {
        width: 6rem;
    }

    .main-title {
        font-size: 4rem;
    }

    /* Afficher le burger menu pour les écrans < 575px */
    .parent-container {
        display: block !important;
        margin: 0 auto;
        text-align: center;
    }

    .burger {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin: 15px auto 0 auto;
        cursor: pointer;
        visibility: visible !important;
    }

    .burger-line {
        display: block !important;
        visibility: visible !important;
        width: 100%;
        height: 3px;
        background-color: #000;
        margin-bottom: 3px;
    }

    /* Masquer le menu normal sur petits écrans */
    #menuderoulant {
        display: none;
    }

    /* Afficher le menu quand burger activé */
    #menuderoulant.collapsed {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px auto;
    }

    #menuderoulant.collapsed li {
        display: block;
        margin-right: 10px;
    }

    /* Sous-menus restent fonctionnels */
    #menuderoulant.collapsed .sousmenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    #menuderoulant.collapsed li:hover>.sousmenu {
        display: block;
    }

    /* Animation du burger en croix quand menu ouvert */
    .burger.cross .burger-line:nth-child(1) {
        transform: rotate(45deg) translateY(6px);
    }

    .burger.cross .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger.cross .burger-line:nth-child(3) {
        transform: rotate(311deg) translateY(-10px) translateX(5px);
    }
}

@media only screen and (min-width: 576px) {

    /* Masquer explicitement le burger menu sur les écrans plus larges */
    .burger {
        display: none !important;
    }

    .burger-line {
        display: none !important;
    }

    /* S'assurer que le menu normal est affiché */
    #menuderoulant {
        display: flex !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 674px) {
    #menuderoulant {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 10px;
    }

    #menuderoulant li,
    #menuderoulant li .ColoRed {
        width: auto;
        min-width: 8em;
        max-width: 11em;
        flex: 1;
    }

    #menuderoulant li a.ColoRed {
        width: 100%;
        max-width: 11em;
        box-sizing: border-box;
        display: block;
    }

    #menuderoulant li a:hover {
        width: 100%;
        max-width: 11em;
        box-sizing: border-box;
    }

    #burger {
        margin-left: calc(50% - 15px);
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .main-title {
        font-size: 5.5rem;
    }

    #menuderoulant li {
        width: 12.375em;
    }
}