#politiqueConfidentialite {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

#politiqueConfidentialite h2 {
    margin-bottom: 100px;
}

#politiqueConfidentialite h3,
#politiqueConfidentialite p {
    margin-left: 20px;
    text-align: center;
}