/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;

}

body,
html {
    font-family: 'Times new roman', sans-serif;
    font-size: 15px;
    background-color: #FBFBD0;
    margin: 0px;
    height: 100%;

}

a h1 {
    color: black;
}

h1 {
    font-size: 35px;
}

/*#hack {
    background: #FBFBD0;
}*/

/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FBFBD0;
    z-index: 100;
    /*////*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin-top: 25px;
    padding: 5px;
    font-weight: normal;
    font-family: 'Tangerine', "Times new roman", sans-serif;
    text-align: center;
    font-size: 4rem;
    /* Center the title of the header*/
    display: block;
    /* justify-content: center;*/
}



.green {
    color: #1D7461;
    font-style: normal;
    text-transform: uppercase;
}

.red {
    color: #741D34;
    font-style: normal;
}

/* le séparateur entre le titre et le menu*/

hr {
    width: 30vw;
    /*335px*/

    margin: auto;
}



/*MAIN MENU */
#menuderoulant {
    margin: 0;
    /*important*/
    padding: 0;
    /*important*/
    border: 0;
    list-style: none;
    /*important*/
    /*position:relative;*/
    /*important*/
    margin-top: 35px;
    background-color: #FBFBD0;

    /* Keep the menu aligned whatever the size of the screen*/
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#menuderoulant li {
    /* travail sur le menu deroulant (horizontal)*/
    /*float: left;*/
    width: 12.375em;
    margin-right: 10px;
    border: 1px solid black;
    background-color: #1D7461;
    text-align: center;
    border-radius: 2.81em;
    /*max-height: 2.81em;*/
    box-shadow: 5px 5px black;
    background: #1D7461;

}

#menuderoulant .ColoRed {
    background-color: #741d34;
    width: 12.395em;


    border-radius: 2.81em;
}

#menuderoulant .sousmenu .ColoRed2 {
    background-color: #741d34;
    padding: 15px;
    width: 12.375em;

}

#menuderoulant .sousmenu {
    display: none;
    /*Pour cacher le sous-menu*/
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
    float: none;
    position: absolute;
    text-transform: none;
}

#menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 12.4em;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0px 0px;
}

#menuderoulant li a:link,
#menuderoulant li a:visited {
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    padding: 4px 8px;
    text-decoration: none;

}

#menuderoulant li a:hover {
    background-color: #741D34;
    border-radius: 2.81em;
    width: 12.28em;
    color: white;
}

#menuderoulant .ColoRed:hover {
    background-color: #1D7461;

}

#menuderoulant .sousmenu li a :link,
#menuderoulant .sousmenu li a:visited visited {
    /*permet de garder le même style que les liens soient visités ou pas*/
    /*display: inline-block;*/
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

#menuderoulant .sousmenu li a:hover {
    background-color: #741D34;
    border-radius: 2.81em;
    width: 12.29em;

}

#menuderoulant .ColoGreen {
    background-color: #741D34;
    border-radius: 2.81em;
    width: 12.28em;
    /*198px*/
    text-decoration: none;
    color: white;
}

#menuderoulant .sousmenu .ColoGreen:hover {
    background-color: #1D7461;
    width: 12.28em;
}

#menuderoulant li:hover>.sousmenu {
    /*permet de maintenir l'affichage du sous-menu lors du survol de la souris*/
    display: block;
}


/*BIO*/

#Hero {
    width: 900px;
    margin: 0 auto;
    background: #FBFBD0;
}

.Bio {
    position: relative;
    float: left;
    margin-top: auto;
    background: #FBFBD0;
}


.Bio img {
    margin-top: auto;
    width: 500px;
    height: 450px;
    margin: 3px;
}

#presentation {
    font-size: 2em;
    line-height: 1.4em;
    text-align: justify;
    color: #000;
    margin-top: 350px;
    background: #FBFBD0;

}

.presentation {
    background: #FBFBD0;
}

img[alt] {
    font-style: italic;
    font-size: 15px;
    text-shadow: 2px 2px white;
    display: flex;

}



.container {
    background-color: #1D7461;
    min-width: 100%;
}

.button1 {
    /* border: 1px solid #ddd;*/

    background-color: #741D34;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.2s ease-in 0s;
    display: flex;
    bottom: -50px;
    padding: 8px;
}

.button1:hover {

    background-color: #f50646;
    color: #fff;

}

#Logo {
    display: inline-flex;
}


#Logo img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 10px;

}

#contact-form .thank-you {
    text-align: center;
    position: relative;
    /*bottom: 15px;*/
    font-weight: bold;
    font-size: 15px;
    color: #741D34;

}

.comments {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    color: #741D34;
    height: 4px;
    text-transform: none;
    position: relative;

}


/*FOOTER*/



footer {
    background-color: #FBFBD0;
    height: 60px;
    position: relative;
    top: 100px;
    width: 100%;
}

/*MOSAIQUE IMAGES*/

#Arts #Mosaique {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#Mosaique {
    position: relative;

}

#Mosaique>img {
    display: block;
    border-radius: 50%;
    width: 450px;
    height: 400px;
    margin-right: 20px;
}

#Mosaique:hover>img {
    width: 500px;
    height: 450px;
    transition: width 1.3s, height 1.3s;

}


.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
}


.not-authorized-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: .5s ease;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;

}

.text {
    color: #741d34;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


#Charlotte .text {
    color: #1D7461;
}



/*l'image s'agrandit au survol*/


/*BOUTONS DE BULLES PHOTOS*/


#Bulles {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#Bulles .photo {
    position: relative;

}

#Bulles .photo>img {
    display: block;
    border-radius: 50%;
    width: 450px;
    height: 400px;
    margin-right: 20px;
}

/*#Bulles .photo:hover>img {
    width: 500px;
    height: 450px;
    transition: width 1.3s, height 1.3s;
}*/

.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    display: inline-block;

}

.not-authorized-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: .5s ease;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    /*display: flex;*/

}

.text {
    color: #741d34;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


#Charlotte .text {
    color: #1D7461;
}


.containerArts {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 35%;
    margin-top: 70%;

    margin-bottom: 30px;

}

.containerArts a {
    position: relative;
    background: #fff;
    width: 150px;
    height: 50px;
    color: #741D34;
}

.containerArts a::before,
.containerArts a::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #741D34;
    transition: 0.5s;
}

.containerArts a:nth-child(1)::before,
.containerArts a:nth-child(1)::after {
    background: linear-gradient(45deg, #1D7461, #741D34, #741D34, #1D7461);
}

.containerArts a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #6d6567;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #741D34;
    border: 2px solid #000;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}

.containerArts .span-viv {
    color: #0b3a2f;
}


.containerArts a:hover::before {
    inset: -4px;
}

.containerArts a:hover::after {
    inset: -3px;
    filter: blur(10px);
}

.containerArts a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}

/*ARTS*/

#Arts {

    display: flex;
    flex-direction: column;
    margin-top: 20em;
    align-content: center;
    align-items: center;
    background-color: #FBFBD0;
    min-height: 1800px;
}

#Allain,
#Argent {

    margin-top: 550px;
    min-height: 450px;
    width: 1400px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #1D7461;
    padding: 10px 10px 30px 10px;
}

#Viventre {


    margin-top: 550px;
    min-height: 450px;
    width: 1400px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #741D34;
    padding: 10px 10px 30px 10px;
}

/* REPRENDRE CETTE PARTIE POUR CHANGER PHOTO */

#Mosaique {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;

}

#Mosaique img {

    width: 280px;
    height: 270px;
    margin-right: 10px;

}

#Mosaique img:hover {

    width: 300px;
    height: 290px;
}

#Mosaique1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

#Mosaique1 img {

    width: 280px;
    height: 270px;
    margin-right: 10px;

}

#Mosaique1 img:hover {

    width: 300px;
    height: 290px;
}

#Arts h1 {

    text-align: left;
    margin-bottom: 5px;
}

#Arts h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 3px;
}

#Arts h3 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 3px;
    position: relative;
    top: -30px;
    left: 370px;
}

#Arts p {

    font-size: 18px;
    margin-top: 15px;

}



.Elles {
    font-style: italic;
}


/* Button return*/

/* -----------------Musique-------------*/

#Musique {
    margin-top: 400px;
}

.music-links,
li,
a:link,
a:hover,
a:visited {
    text-align: center;
    text-decoration: none;
    color: #000;
    list-style-type: none;
}


#container-iframes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

}


.grid-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

#citation1 {
    text-align: justify;
    text-align: center;

}

#citation1 p {
    margin: 230px 0 50px 0;
}

figure {
    margin-top: 20px;
    margin-left: 15px;
}

/* ----------------Ecriture------------------*/

#Ecriture {
    margin-top: 550px;
}

#Ecriture p {

    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
}

div p.mesEcritures {
    font-weight: bold;
    color: #1D7461;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#Ecriture a,
#Musique a {

    color: #741D34;
    display: block;

}


#Ecriture a:hover {

    color: #1D7461;
}

.monBlog {
    font-weight: bold;
    font-size: 20px;
}

.aEcriture {
    margin-top: -30px;

}

.aBottom {
    margin-bottom: 15px;
}

/* ----------MEDIATION------------*/

/***tuto designer du web***/


ul,
li {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap {
    position: relative;
    margin: 0;
    padding: 10px;
    margin-top: 150px;
}

.grid-wrap ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, auto));
    grid-auto-flow: dense;
    gap: 2px;
    justify-content: center;
    margin: 0 50px;
    padding: 0;
}

.grid-wrap ul li {
    position: relative;
}

.grid-wrap ul li:nth-child(1) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(2) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(3) {
    grid-row: span 2;
    grid-column: span 6;
}

.grid-wrap ul li:nth-child(4) {
    grid-row: span 2;
    grid-column: span 6;
}

.grid-wrap ul li:nth-child(5) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(6) {
    grid-row: span 3;
    grid-column: span 4;
}

.grid-wrap ul img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width:300px) and (max-width: 676px) {

    #menuderoulant .ColoRed,
    #menuderoulant li,
    #menuderoulant li a:hover,
    #menuderoulant .ColoRed:hover {

        height: 30px;
        width: 120px;
    }



    #menuderoulant .sousmenu li,
    #menuderoulant .sousmenu li a:hover {
        width: 120px;
    }

    .Bio {
        position: inherit;
        float: none;
        margin-top: 120px;
        background: #FBFBD0;
    }

    .Bio img {
        margin-top: 350px;
    }

    #presentation {
        margin-top: 10px;

    }

    .presentation {
        min-width: 98vw;
        margin-top: -8px;
    }

    /* Continuer à réfléchir media queries (Attention changer taille ecran) pour adapter formulaire*/
    .container {
        display: block;
        height: auto;
        min-width: 200%;
    }

    #Logo {
        display: inline-flex;
    }

    #photo_gauche_bas {
        margin-top: 80px;
        width: 250px;
        height: 300px;

    }



    input[type=text],
    input[type=email],
    input[type=phone] {
        max-width: 380px;
    }

    textarea {
        max-width: 380px;
    }

    #Logo {
        margin-right: 80em;
    }

    .presentation {
        max-width: 97vw;
        margin-left: 3px;
    }


}

#MessageEssentiel {
    break-inside: auto;
    text-align: center;
    margin-top: 5px;
}


iframe {
    border: none;
}

.alinea {
    text-indent: 40px;
}



@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .menu li {
        display: none;
    }

    .menu li a {
        color: #333;
        text-decoration: none;
    }

    .burger {
        display: none;
        width: 40px;
        height: 30px;
        margin-top: 15px;
        cursor: pointer;
    }

    .burger-line {
        width: 100%;
        height: 4px;
        background-color: black;
        margin-bottom: 5px;
    }

    .menu {
        display: block;

    }

    .burger {
        display: block;

    }

    /*#menuderoulant.collapsed {
         display: block;
        margin-left: -10px;
        margin-top: -40px;

    }*/

    #menuderoulant.collapsed li {
        display: block;
    }

    /*#menuderoulant li:hover>.sousmenu {
        margin-left: 130px;
        margin-top: -45px;

    }*/




}