/*GENERAL*/
:root {
    --messageEssentiel-color: #fff;
    --label-color: #000;
    --header-background-color: #FBFBD0;
    --green-color: #1D7461;
    --red-color: #741D34;
    --thank-you-color: #253D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;

}

body,
html {
    font-family: 'Times new roman', sans-serif;
    font-size: 15px;
    background-color: #FBFBD0;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

a h1 {
    color: black;
}

h1 {
    font-size: 35px;
}

/*#hack {
    background: #FBFBD0;
}*/



/*HEADER*/
header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background-color: var(--header-background-color);
    z-index: 100;
    /*////*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header h1 {
    margin-top: 100px;
    padding: 5px;
    font-weight: normal;
    font-family: "Tangerine", "Times new roman", sans-serif;
    text-align: center;
    font-size: 6rem;
    /* Center the title of the header*/
    display: block;
    /* justify-content: center;*/
    margin-top: 20px;
}

h2 {

    text-align: center;
    margin-bottom: 10px;
}


#Mediation h1 {
    margin-top: 200px;
    text-align: center;
}


.green {
    color: var(--green-color);
    font-style: normal;
    text-transform: uppercase;
}

.red {
    color: var(--red-color);
    font-style: normal;
}

/* le séparateur entre le titre et le menu*/

hr {
    width: 30vw;
    /*335px*/

    margin: auto;
}



/*MAIN MENU */
#menuderoulant {
    margin: 0;
    /*important*/
    padding: 0;
    /*important*/
    border: 0;
    list-style: none;
    /*important*/
    /*position:relative;*/
    /*important*/
    margin-top: 35px;
    background-color: #FBFBD0;

    /* Keep the menu aligned whatever the size of the screen*/
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#menuderoulant li {
    /* travail sur le menu deroulant (horizontal)*/
    /*float: left;*/
    width: 12.375em;
    margin-right: 10px;
    border: 1px solid black;
    background-color: var(--green-color);
    text-align: center;
    border-radius: 2.81em;
    /*max-height: 2.81em;*/
    box-shadow: 5px 5px black;
}

#menuderoulant .ColoRed {
    background-color: var(--red-color);
    width: 12.395em;


    border-radius: 2.81em;
}

#menuderoulant .sousmenu .ColoRed2 {
    background-color: var(--red-color);
    padding: 15px;
    width: 12.375em;

}

#menuderoulant .sousmenu {
    display: none;
    /*Pour cacher le sous-menu*/
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
    float: none;
    position: absolute;
    text-transform: none;
}

#menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 12.4em;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0px 0px;
}

#menuderoulant li a:link,
#menuderoulant li a:visited {
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    padding: 4px 8px;
    text-decoration: none;

}

#menuderoulant li a:hover {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.28em;
    color: white;
}

#menuderoulant .ColoRed:hover {
    background-color: var(--green-color);

}

#menuderoulant .sousmenu li a :link,
#menuderoulant .sousmenu li a:visited visited {
    /*permet de garder le même style que les liens soient visités ou pas*/
    /*display: inline-block;*/
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

#menuderoulant .sousmenu li a:hover {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.29em;

}

#menuderoulant .ColoGreen {
    background-color: var(--red-color);
    border-radius: 2.81em;
    width: 12.28em;
    /*198px*/
    text-decoration: none;
    color: white;
}

#menuderoulant .sousmenu .ColoGreen:hover {
    background-color: var(--green-color);
    width: 12.28em;
}

#menuderoulant li:hover>.sousmenu {
    /*permet de maintenir l'affichage du sous-menu lors du survol de la souris*/
    display: block;
}


/*BIO*/

#Hero {
    width: 900px;
    margin: 0 auto;
    background: #FBFBD0;
    margin-top: 200px;

}


.Bio {
    position: relative;
    float: left;
    margin-top: auto;
    background: #FBFBD0;
}


.Bio img {
    margin-top: 10px;
    max-width: 450px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

#presentation {
    font-size: 2em;
    line-height: 1.4em;
    text-align: justify;
    color: #000;
    background: #FBFBD0;
    font-weight: inherit;
}

.presentation {
    background: var(--header-background-color);
}

img[alt] {
    font-style: italic;
    font-size: 15px;
    text-shadow: 2px 2px white;
    display: flex;

}


#contact-form {
    background: #1D7461;
    padding: 50px;
    width: auto;

}



.button1 {
    /* border: 1px solid #ddd;*/

    background-color: var(--red-color);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: all 0.2s ease-in 0s;
    bottom: -50px;
    padding: 8px;
    width: inherit;
}

.button1:hover {

    background-color: #932c47;
    color: #fff;

}

#Logo {
    display: inline-flex;
}


#Logo img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 10px;

}

#contact-form .thank-you {
    text-align: center;
    position: relative;
    /*bottom: 15px;*/
    font-weight: bold;
    font-size: 15px;
    color: var(--red-color);

}

.comments {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    color: var(--red-color);
    height: 4px;
    text-transform: none;
    position: relative;

}


/*FOOTER*/



footer {
    background-color: #FBFBD0;
    height: 60px;
    position: relative;
    top: 100px;
    width: 100%;
}

/*MOSAIQUE IMAGES*/

#Mosaique {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;

}


#Mosaique img {

    display: block;
    width: 290px;
    height: 300px;
    transition: width 1s ease-in-out, height 1s ease-in-out;

}

#Mosaique div:hover img {
    width: 300px;
    height: 350px;

}


.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
}


.not-authorized-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: .5s ease;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;

}

.text {
    color: var(--red-color);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


#Charlotte .text {
    color: #1D7461;
}


/* Styles pour la section Bulles */
#Bulles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;

}

/* Styles pour les photos */
#Bulles .photo {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 450px;
    height: 400px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

#Bulles .photo>picture>img,
#Bulles .photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    display: none;
    /* Caché par défaut */
}

.not-authorized-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /* Caché par défaut */
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 0;
}

.text {
    color: var(--red-color);
    font-size: 20px;
    /* Taille de police d'origine */
    text-align: center;
    padding: 10px;
}

#Charlotte .text {
    color: var(--green-color);
}

.containerArts {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 35%;
    margin-top: 70%;
    margin-bottom: 30px;
}

.containerArts a {
    position: relative;
    background: #fff;
    width: 150px;
    height: 50px;
    color: var(--red-color);
}

.containerArts a::before,
.containerArts a::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--red-color);
    transition: 0.5s;
}

.containerArts a:nth-child(1)::before,
.containerArts a:nth-child(1)::after {
    background: linear-gradient(45deg, #1D7461, #741D34, #741D34, #1D7461);
}

.containerArts a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #6d6567;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red-color);
    border: 2px solid #000;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}

.containerArts .span-viv {
    color: #0b3a2f;
}

.containerArts a:hover::before {
    inset: -4px;
}

.containerArts a:hover::after {
    inset: -3px;
    filter: blur(10px);
}

.containerArts a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}



/*ARTS*/

#Arts {

    display: flex;
    flex-direction: column;
    margin-top: 20em;
    align-content: center;
    align-items: center;
    background-color: #FBFBD0;
    min-height: 1800px;
}

.spectacles {
    margin-top: 550px;
    min-height: 450px;
    width: 80%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
}

#Allain,
#Argent {

    box-shadow: 10px 10px 10px var(--green-color);
}

#Viventre {

    box-shadow: 10px 10px 10px var(--red-color);

}

#Allain p,
#Viventre p,
#Argent p,
#Musique p,
#Ecriture p,
.presentation p,
#Mediation p {
    line-height: 2;
}

#Ecriture p {
    font-style: italic;
}

#ArtsH1 {
    margin-top: 200px;
    text-align: center;
}

#spectaclesH2 {
    margin-top: 50px;
    text-align: center;
}

#container-links-p p {
    margin-top: -3780px;
}

#container-links-ul ul {
    line-height: 3;
    margin-top: -40px;
}


#Mosaique1 {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;

}

#Mosaique1 img {

    display: block;
    width: 290px;
    height: 300px;
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

#Mosaique1 div:hover img {

    width: 300px;
    height: 350px;
}

#Arts h1 {

    text-align: left;
    margin-bottom: 5px;
}

#Arts h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 3px;
}


#Arts p {

    font-size: 18px;
    margin-top: 15px;

}

.Elles {
    font-style: italic;
}


/* Button return*/

/* -----------------Musique-------------*/

#Musique {
    margin-top: 400px;
}

#Musique p {
    margin-left: 100px;
}

.music-links,
li,
a:link,
a:hover,
a:visited {
    text-align: center;
    text-decoration: none;
    color: #000;
    list-style-type: none;
}

#container-iframes {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    gap: 5px;
    /* Ajoutez cette ligne pour centrer horizontalement */
}

.grid-item {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}


.thumbnail {
    width: 560px;
    height: 315px;
    object-fit: cover;
}

#iframeArgent {
    margin-left: calc(50% - 140px);
}

/* ----------------Ecriture------------------*/

#Ecriture {
    margin-top: 550px;
}

#EcritureH2 {
    margin-bottom: 50px;
}

#mesEcritsH3 {
    margin-left: 45px;
}


#Ecriture p {
    margin-top: -25px;
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
}

div p.mesEcritures {
    font-weight: bold;
    color: var(--green-color);
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#Ecriture a {

    color: var(--red-color);
    display: block;

}


#Ecriture a:hover {

    color: var(--green-color);
}

.monBlog {
    font-weight: bold;
    font-size: 20px;
}


.aEcriture {
    margin-top: -30px;

}

.aBottom {
    margin-bottom: 15px;
}

/* ----------MEDIATION------------*/

/***tuto designer du web***/


ul,
li {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap {
    position: relative;
    margin: 0;
    padding: 10px;
    margin-top: 150px;
}

.grid-wrap ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, auto));
    grid-auto-flow: dense;
    gap: 2px;
    justify-content: center;
    margin: 0 50px;
    padding: 0;
}

.grid-wrap ul li {
    position: relative;
}

.grid-wrap ul li:nth-child(1) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(2) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(3) {
    grid-row: span 2;
    grid-column: span 6;
}

.grid-wrap ul li:nth-child(4) {
    grid-row: span 2;
    grid-column: span 6;
}

.grid-wrap ul li:nth-child(5) {
    grid-row: span 2;
    grid-column: span 4;
}

.grid-wrap ul li:nth-child(6) {
    grid-row: span 3;
    grid-column: span 4;
}

.grid-wrap ul img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width:80px) and (max-width:480px) {


    #menuderoulant,
    #menuderoulant li #menuderoulant .ColoRed,
    #menuderoulant .sousmenu .ColoRed2,
    #menuderoulant li a:hover,
    #menuderoulant .sousmenu li,
    #menuderoulant .sousmenu li a:hover,
    #menuderoulant li a:link,
    #menuderoulant li a:visited {

        width: 100%;
        max-width: 481px;
        font-size: 12px;
    }


    #menuderoulant .sousmenu {
        width: 110px;
        /* Increase the width of the submenu */
        z-index: 1;
        /* Ensure the submenu appears above other elements */
    }

    .container {
        display: block;
        /* Ajustement de la disposition pour les petits écrans */
        min-width: auto;
        /* Suppression de la largeur minimale excessive */
    }

    #Logo {
        display: inline-flex;
        margin-right: 80em;
    }

    #presentation {
        color: purple;
        max-width: 97vw;
        margin-left: 3px;
    }


    .presentation {
        max-width: 97vw;
        margin-left: 3px;
        color: purple;
    }


    #MessageEssentiel {
        break-inside: auto;
        text-align: center;
        margin-top: 5px;
    }

    iframe {
        width: 360px;
        height: 200px;
        border: none;
    }

    .alinea {
        text-indent: 40px;
    }

    .button1 {
        background-color: var(--red-color);
        color: #fff;
        border: 1px solid #fff;
        display: flex;
        justify-content: left;
        width: inherit;
    }


    .not-authorized-overlay h2 {

        margin-top: -80px;
        font-size: small;

    }

    .not-authorized-overlay .text p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -moz-box-orient: vertical;
        overflow: hidden;
    }


    .containerArts {
        margin-left: 30px;

    }

    .containerArts a {
        width: 95px;
        height: 35px;
        margin-bottom: 55px;

    }

    .containerArts a span {
        font-size: 12px;

    }

    .parent-container {
        margin-left: calc(50% - 80px);
        /* Ajoute une hauteur de 100% de la hauteur de la fenêtre */
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 30px;
        cursor: pointer;
    }

    .burger-line {
        width: 100%;
        height: 2px;
        background-color: #000;

    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #Musique p {
        margin-left: calc(50% - 200px);
        text-align: left;
    }

    #Allain,
    #Viventre,
    #Argent {
        width: 70%;
    }

    #iframeArgent {
        width: 80%;
        margin-left: calc(50% - 110px) !important;
    }

    #Mosaique,
    #Mosaique1 {

        justify-content: center;
        flex-direction: column;

    }


    #container-links-p p {
        margin-left: 100px;
        margin-top: -4300px;
        margin-left: 10px;

    }

    #container-links-ul ul {

        margin-top: 30px;

    }

    #ArtsH1 {
        margin-top: 200px;
    }

    .thumbnail {
        width: 360px;
        height: 215px;
    }
}


@media only screen and (min-width : 481px) and (max-width: 674px) {

    #Hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Bio {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: fit-content;
    }

    .Bio img {
        min-width: 50%;
        height: auto;
        max-width: 70%;
    }

    #presentation {
        margin-top: 10px;
        color: chocolate;
        margin-right: 670px;
    }

    .presentation {
        width: 100%;
    }

    .presentation p {
        margin-left: 3px;
        text-align: left;
        margin-right: 400px;
        color: chocolate;
        min-width: 97vw;
        max-width: 80%;
    }

    #MessageEssentiel {
        max-width: 90vw;
        text-align: center;
        font-size: 15px;
        color: var(--messageEssentiel-color);

    }

    label {
        font-size: 15px;
        color: var(--label-color);
    }


    input[type=submit] {
        display: flex;
    }

    .button1 {
        background-color: var(--red-color);
        color: #fff;
        border: 1px solid #fff;
        display: flex;
        justify-content: left;
        width: inherit;
    }

    #Mosaique,
    #Mosaique1 {

        justify-content: center;
        flex-direction: column;

    }

    #Mosaique img {

        display: block;
        width: 250px;
        height: 260px;

    }

    #Mosaique div:hover img {
        width: 260px;
        height: 280px;
    }

    #container-links-ul ul {

        margin-top: 50px;

    }

    #ArtsH1 {
        margin-top: 200px;
    }

    .not-authorized-overlay h2 {
        margin-top: -80px;
        font-size: small;
    }

    .containerArts {
        margin-left: 30px;
    }

    .containerArts a {
        width: 105px;
        height: 45px;
        margin-bottom: 55px;
    }

    .containerArts a span {
        font-size: 14px;
    }

    #burger {
        margin-left: calc(50% - 15px);
    }

    #iframeArgent {
        width: 80vw;
        max-width: 350px;
        /* height: auto; */
        /* Maintient le ratio d'aspect */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        width: 360px;
        height: 200px;
    }

    #menuderoulant {
        width: 550px;
    }

    #menuderoulant li,
    #menuderoulant li .ColoRed {
        width: 9.375em;
    }

    #menuderoulant li a:hover {
        width: 9.375em;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .menu {
        display: none;
    }

    .menu li {
        display: none;
    }

    .menu li a {

        text-decoration: none;
    }

    .burger {
        display: none;
        width: 30px;
        height: 20px;
        margin-top: 15px;
        margin-left: 70px;
        cursor: pointer;
    }

    .burger-line {
        width: 100%;
        height: 4px;
        background-color: black;
        margin-bottom: 5px;
    }

    .menu {
        display: block;

    }

    .burger {
        display: block;

    }


    #menuderoulant.collapsed li {
        display: block;
    }


    .burger.cross .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 0px);
    }

    .burger.cross .burger-line:nth-child(2) {
        transform: rotate(-45deg) translate(7px, 0px);
    }

    .burger.cross .burger-line:nth-child(3) {
        display: none;
    }

    #menuderoulant li,
    #menuderoulant li .ColoRed {
        width: 9.375em;
    }

    #menuderoulant li a:hover {
        width: 9.375em;
    }

    .button1 {
        background-color: var(--red-color);
        color: #fff;
        border: 1px solid #fff;
        display: flex;
        justify-content: left;
        width: inherit;
    }

    #Mosaique,
    #Mosaique1 {
        justify-content: center;
        flex-direction: column;
    }

    #container-links-ul ul {
        margin-top: 50px;
    }

    .grid-container {
        gap: 20px;
    }

    .thumbnail {
        width: 360px;
        height: 215px;
    }
}


@media only screen and (min-width: 675px) and (max-width:768px) {

    #MessageEssentiel {
        max-width: 90vw;
        text-align: center;
        font-size: 15px;
        color: blue
    }

    label {
        font-size: 15px;
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {

        max-width: 100%;
    }

    input[type=submit] {
        display: flex;
    }

    label {
        color: var(--label-color);
    }

    #presentation {
        color: burlywood;
        max-width: 97vw;
        margin-left: 3px;
    }

    .presentation {
        color: burlywood;
        max-width: 97vw;
        margin-left: 3px;
    }

    #Mosaique,
    #Mosaique1 {

        justify-content: center;
        flex-direction: column;

    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #container-links-ul ul {

        margin-top: 50px;

    }

    #Bulles {
        grid-template-columns: repeat(1, 1fr);
    }

    .not-authorized-overlay h2 {

        margin-top: -80px;
        font-size: small;

    }


    .containerArts {
        margin-left: 30px;
    }

    .containerArts a {
        width: 95px;
        height: 35px;
        margin-bottom: 55px;
    }

    .containerArts a span {
        font-size: 14px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    #ArtsH1 {
        margin-top: 200px;
    }

    #MessageEssentiel {
        max-width: 90vw;
        text-align: center;
        font-size: 15px;
        color: rgb(40, 172, 181)
    }

    label {
        font-size: 15px;
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {

        max-width: 100%;
    }

    input[type=submit] {
        display: flex;
    }


    label {
        color: var(--label-color);
    }

    #presentation {
        max-width: 97vw;
        margin-left: 3px;
    }

    .presentation {

        max-width: 97vw;
        margin-left: 3px;
    }

    #Mosaique img,
    #Mosaique1 img {
        width: 150px;
        height: 200px;
    }

    #Mosaique div:hover img,
    #Mosaique1 div:hover img {
        width: 170px;
        height: 250px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #container-links-ul ul {

        margin-top: 50px;
    }

    #Bulles {
        grid-template-columns: repeat(1, 1fr);
    }

    .not-authorized-overlay h2 {
        margin-top: -80px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1190px) {
    #MessageEssentiel {
        max-width: 90vw;
        text-align: center;
        font-size: 15px;
        color: rgb(222, 101, 15)
    }

    label {
        font-size: 15px;
    }


    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {

        max-width: 100%;

    }

    input[type=submit] {
        display: flex;
        margin: auto;
    }


    label {
        color: var(--label-color);
    }

    .form-9 {
        margin: auto;
    }

    #Mosaique img,
    #Mosaique1 img {
        width: 150px;
        height: 200px;
    }

    #Mosaique div:hover img,
    #Mosaique1 div:hover img {
        width: 170px;
        height: 250px;

    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }

    #container-links-ul ul {

        margin-top: 50px;

    }

    #Bulles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media only screen and (min-width: 1191px) {

    #Mosaique img,
    #Mosaique1 img {
        width: 250px;
        height: 300px;
    }

    #Mosaique div:hover img,
    #Mosaique1 div:hover img {
        width: 270px;
        height: 350px;

    }

    .text {
        margin-top: -50px;
    }

    #Bulles {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }

} */

/* Media queries pour les écrans moyens */
@media (max-width: 768px) {


    #Bulles {
        grid-template-columns: repeat(1, 1fr);

    }

    #Bulles .photo {
        width: 300px;
        /* Largeur ajustée pour écran moyen */
        height: 300px;
        /* Hauteur ajustée pour écran moyen */
    }

    .text {
        font-size: 16px;
        /* Taille de police ajustée pour écran moyen */
    }

    .containerArts {
        left: 25%;
        margin-top: 80%;
    }
}